body {
    background-color:rgb(171, 204, 204);
    margin:0;
    overflow:hidden;

    div.text {
        display:grid;
        place-items:center;
        height:90vh;
        position:relative;
        user-select:none;

        * {
            transition: 1s;
            &:hover {
                background-color:yellow;
                transform:scale(2);
                box-shadow:0 0 5px black;
            }
        }
    }
}

@mixin block-mixin($direction) {
    @keyframes elem-move#{$direction} {
        0% { transform:scaleX(1 * $direction); }
        100% { transform:scaleX(2 * $direction); }
    }

    width:160px;
    height:50px;
    display:block;
    margin-bottom:20px;
    box-shadow:0 0 5px black;
    transform-origin:left;
    transform:scaleX(1 * $direction);

    display:grid;
    place-items:center;

    $colors:red orange blue lime;
    @for $i from 1 through length($colors) {
        &:nth-child(#{length($colors)}n+#{$i}) {
            background-color: nth($colors,$i);
            animation:elem-move#{$direction} 1s infinite #{$i/2}s alternate;
        }
    }
}

div.backward {
    position:absolute;
    right:-160px;
    top:0;

    * {
        @include block-mixin(-1);
    }
}

div.forward {
    position:absolute;
    left:0;
    top:0;
    
    * {
        @include block-mixin(1);
    }
}
